In [345]:
import os
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [346]:
df= pd.read_csv('.\\dataset\\0182752-230224095556074.csv', sep='\t')
df.head(5)

,gbifID,datasetKey,occurrenceID,kingdom,phylum,class,order,family,genus,species,infraspecificEpithet,taxonRank,scientificName,verbatimScientificName,verbatimScientificNameAuthorship,countryCode,locality,stateProvince,occurrenceStatus,individualCount,publishingOrgKey,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,coordinatePrecision,elevation,elevationAccuracy,depth,depthAccuracy,eventDate,day,month,year,taxonKey,speciesKey,basisOfRecord,institutionCode,collectionCode,catalogNumber,recordNumber,identifiedBy,dateIdentified,license,rightsHolder,recordedBy,typeStatus,establishmentMeans,lastInterpreted,mediaType,issue
0,3121779301,77c244e3-05bc-48a8-b200-8336d9db3ca1,CSCF-ARA-26,Animalia,Arthropoda,Arachnida,Araneae,Linyphiidae,Diplocephalus,Diplocephalus latifrons,NaN,SPECIES,"Diplocephalus latifrons (O.Pickard-Cambridge, ...","Diplocephalus latifrons (O. P.-Cambridge, 1863)","(O. P.-Cambridge, 1863)",CH,NaN,Ju,PRESENT,NaN,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37776,7.07449,3535.0,NaN,505.0,NaN,NaN,NaN,1988-10-07T00:00:00,7.0,10.0,1988,2137859,2137859,HUMAN_OBSERVATION,NaN,NaN,CSCF-ARA-26,NaN,Hänggi Ambros,NaN,CC_BY_4_0,Info Fauna - Centre Suisse de Cartographie de ...,Gonseth Yves,NaN,NaN,2023-01-24T21:54:39.384Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES
1,3121779302,77c244e3-05bc-48a8-b200-8336d9db3ca1,CSCF-ARA-44,Animalia,Arthropoda,Arachnida,Araneae,Dysderidae,Harpactea,Harpactea lepida,NaN,SPECIES,"Harpactea lepida (C.L.Koch, 1838)","Harpactea lepida (C. L. Koch, 1838)","(C. L. Koch, 1838)",CH,NaN,Ju,PRESENT,NaN,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37753,7.00828,3535.0,NaN,470.0,NaN,NaN,NaN,1988-06-25T00:00:00,25.0,6.0,1988,2139113,2139113,HUMAN_OBSERVATION,NaN,NaN,CSCF-ARA-44,NaN,Hänggi Ambros,NaN,CC_BY_4_0,Info Fauna - Centre Suisse de Cartographie de ...,Gonseth Yves,NaN,NaN,2023-01-24T21:54:40.498Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES
2,3121779303,77c244e3-05bc-48a8-b200-8336d9db3ca1,CSCF-ARA-62,Animalia,Arthropoda,Arachnida,Araneae,Theridiidae,Robertus,Robertus lividus,NaN,SPECIES,"Robertus lividus (Blackwall, 1836)","Robertus lividus (Blackwall, 1836)","(Blackwall, 1836)",CH,NaN,Ju,PRESENT,NaN,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37776,7.07449,3535.0,NaN,505.0,NaN,NaN,NaN,1988-07-16T00:00:00,16.0,7.0,1988,2155895,2155895,HUMAN_OBSERVATION,NaN,NaN,CSCF-ARA-62,NaN,Hänggi Ambros,NaN,CC_BY_4_0,Info Fauna - Centre Suisse de Cartographie de ...,Gonseth Yves,NaN,NaN,2023-01-24T21:54:40.528Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES
3,3121779304,77c244e3-05bc-48a8-b200-8336d9db3ca1,CSCF-ARA-80,Animalia,Arthropoda,Arachnida,Araneae,Lycosidae,Pardosa,Pardosa amentata,NaN,SPECIES,"Pardosa amentata (Clerck, 1757)","Pardosa amentata (Clerck, 1757)","(Clerck, 1757)",CH,NaN,Ju,PRESENT,NaN,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37776,7.07449,3535.0,NaN,505.0,NaN,NaN,NaN,1988-05-13T00:00:00,13.0,5.0,1988,2146241,2146241,HUMAN_OBSERVATION,NaN,NaN,CSCF-ARA-80,NaN,Hänggi Ambros,NaN,CC_BY_4_0,Info Fauna - Centre Suisse de Cartographie de ...,Gonseth Yves,NaN,NaN,2023-01-24T21:54:40.543Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES
4,3121779305,77c244e3-05bc-48a8-b200-8336d9db3ca1,CSCF-ARA-99,Animalia,Arthropoda,Arachnida,Araneae,Linyphiidae,Neriene,Neriene clathrata,NaN,SPECIES,"Neriene clathrata (Sundevall, 1830)","Neriene clathrata (Sundevall, 1830)","(Sundevall, 1830)",CH,NaN,Ju,PRESENT,NaN,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37776,7.07449,3535.0,NaN,505.0,NaN,NaN,NaN,1988-06-25T00:00:00,25.0,6.0,1988,2137387,2137387,HUMAN_OBSERVATION,NaN,NaN,CSCF-ARA-99,NaN,Hänggi Ambros,NaN,CC_BY_4_0,Info Fauna - Centre Suisse de Cartographie de ...,Gonseth Yves,NaN,NaN,2023-01-24T21:54:40.587Z,NaN,CONTINENT_DERIVED_FROM_COORDINATES

In [347]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242196 entries, 0 to 242195
Data columns (total 50 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   gbifID                            242196 non-null  int64
 1   datasetKey                        242196 non-null  object
 2   occurrenceID                      242196 non-null  object
 3   kingdom                           242196 non-null  object
 4   phylum                            242196 non-null  object
 5   class                             242196 non-null  object
 6   order                             242196 non-null  object
 7   family                            242196 non-null  object
 8   genus                             242196 non-null  object
 9   species                           242196 non-null  object
 10  infraspecificEpithet              88 non-null      object
 11  taxonRank                         242196 non-null  object
 12  scientificName                    242196 non-null  object
 13  verbatimScientificName            242196 non-null  object
 14  verbatimScientificNameAuthorship  242196 non-null  object
 15  countryCode                       242196 non-null  object
 16  locality                          3893 non-null    object
 17  stateProvince                     242196 non-null  object
 18  occurrenceStatus                  242196 non-null  object
 19  individualCount                   0 non-null       float64
 20  publishingOrgKey                  242196 non-null  object
 21  decimalLatitude                   242196 non-null  float64
 22  decimalLongitude                  242196 non-null  float64
 23  coordinateUncertaintyInMeters     242196 non-null  float64
 24  coordinatePrecision               0 non-null       float64
 25  elevation                         155544 non-null  float64
 26  elevationAccuracy                 1566 non-null    float64
 27  depth                             0 non-null       float64
 28  depthAccuracy                     0 non-null       float64
 29  eventDate                         242196 non-null  object
 30  day                               205496 non-null  float64
 31  month                             239320 non-null  float64
 32  year                              242196 non-null  int64
 33  taxonKey                          242196 non-null  int64
 34  speciesKey                        242196 non-null  int64
 35  basisOfRecord                     242196 non-null  object
 36  institutionCode                   18419 non-null   object
 37  collectionCode                    50572 non-null   object
 38  catalogNumber                     242196 non-null  object
 39  recordNumber                      0 non-null       float64
 40  identifiedBy                      214347 non-null  object
 41  dateIdentified                    0 non-null       float64
 42  license                           242196 non-null  object
 43  rightsHolder                      242196 non-null  object
 44  recordedBy                        236987 non-null  object
 45  typeStatus                        0 non-null       float64
 46  establishmentMeans                0 non-null       float64
 47  lastInterpreted                   242196 non-null  object
 48  mediaType                         0 non-null       float64
 49  issue                             242196 non-null  object
dtypes: float64(16), int64(4), object(30)
memory usage: 92.4+ MB

In [348]:
df = df.drop(columns=['gbifID', 'datasetKey', 'occurrenceID', 'infraspecificEpithet', 'locality', 'individualCount', 'mediaType', 'coordinatePrecision', 'elevationAccuracy', 'depthAccuracy', 
                      'eventDate', 'taxonKey', 'speciesKey', 'institutionCode', 'collectionCode', 'catalogNumber', 'recordNumber', 'license', 'rightsHolder',
                      'recordedBy', 'typeStatus', 'establishmentMeans', 'lastInterpreted', 'identifiedBy', 'depth', 'dateIdentified', 'verbatimScientificNameAuthorship',
                      'mediaType', 'issue'], axis=1)

In [349]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242196 entries, 0 to 242195
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   kingdom                        242196 non-null  object
 1   phylum                         242196 non-null  object
 2   class                          242196 non-null  object
 3   order                          242196 non-null  object
 4   family                         242196 non-null  object
 5   genus                          242196 non-null  object
 6   species                        242196 non-null  object
 7   taxonRank                      242196 non-null  object
 8   scientificName                 242196 non-null  object
 9   verbatimScientificName         242196 non-null  object
 10  countryCode                    242196 non-null  object
 11  stateProvince                  242196 non-null  object
 12  occurrenceStatus               242196 non-null  object
 13  publishingOrgKey               242196 non-null  object
 14  decimalLatitude                242196 non-null  float64
 15  decimalLongitude               242196 non-null  float64
 16  coordinateUncertaintyInMeters  242196 non-null  float64
 17  elevation                      155544 non-null  float64
 18  day                            205496 non-null  float64
 19  month                          239320 non-null  float64
 20  year                           242196 non-null  int64
 21  basisOfRecord                  242196 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 40.7+ MB

In [350]:
df.columns

Index(['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species',
       'taxonRank', 'scientificName', 'verbatimScientificName', 'countryCode',
       'stateProvince', 'occurrenceStatus', 'publishingOrgKey',
       'decimalLatitude', 'decimalLongitude', 'coordinateUncertaintyInMeters',
       'elevation', 'day', 'month', 'year', 'basisOfRecord'],
      dtype='object')

In [351]:
sorted(df['year'].unique())

[1896,
 1909,
 1918,
 1920,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1941,
 1974,
 1975,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [352]:
df['stateProvince'].unique()

array(['Ju', 'Franche-Comté', 'Lombardia', 'Be', 'Ne', 'Ti', 'Vs', 'Ge',
       'Vd', 'Rhône-Alpes', 'Fr', 'Gr', 'Zh', 'Baden-Württemberg', 'Bl',
       'Ag', 'Bs', 'Zg', 'Sz', 'Sg', 'Sh', 'So', 'Ow', 'Lu', 'Nw', 'Ur',
       'Ar', 'Gl', 'Vorarlberg', 'Ai', 'Tg', 'Alsace', 'Gamprin',
       'Valduz', 'Piemonte'], dtype=object)

In [353]:
df['countryCode'].unique()

array(['CH', 'FR', 'IT', 'DE', 'AT', 'LI'], dtype=object)

In [354]:
df_ch = df[df['countryCode'] == 'CH']
df_ch = df_ch.dropna()
df_ch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114054 entries, 0 to 242193
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   kingdom                        114054 non-null  object
 1   phylum                         114054 non-null  object
 2   class                          114054 non-null  object
 3   order                          114054 non-null  object
 4   family                         114054 non-null  object
 5   genus                          114054 non-null  object
 6   species                        114054 non-null  object
 7   taxonRank                      114054 non-null  object
 8   scientificName                 114054 non-null  object
 9   verbatimScientificName         114054 non-null  object
 10  countryCode                    114054 non-null  object
 11  stateProvince                  114054 non-null  object
 12  occurrenceStatus               114054 non-null  object
 13  publishingOrgKey               114054 non-null  object
 14  decimalLatitude                114054 non-null  float64
 15  decimalLongitude               114054 non-null  float64
 16  coordinateUncertaintyInMeters  114054 non-null  float64
 17  elevation                      114054 non-null  float64
 18  day                            114054 non-null  float64
 19  month                          114054 non-null  float64
 20  year                           114054 non-null  int64
 21  basisOfRecord                  114054 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 20.0+ MB

In [355]:
df_ch['stateProvince'].unique()

array(['Ju', 'Be', 'Ne', 'Ti', 'Vs', 'Ge', 'Vd', 'Fr', 'Gr', 'Zh', 'Bl',
       'Ag', 'Sh', 'So', 'Bs', 'Ow', 'Sz', 'Lu', 'Nw', 'Ur', 'Sg', 'Tg',
       'Zg', 'Ai', 'Ar', 'Gl'], dtype=object)

In [356]:
df_ch['stateProvince'] = df_ch['stateProvince'].replace(
               {'Tg':'Thurgau', 'Gr':'Graubünden', 'Lu':'Luzern', 'Be':'Bern', 'Vs':'Valais', 
                'Bl':'Basel', 'So':'Solothurn', 'Vd':'Vaud', 'Sh':'Schaffhausen', 'Zh':'Zürich', 
                'Ag':'Aargau', 'Ur':'Uri', 'Ne':'Neuchâtel', 'Ti':'Ticino', 'Sg':'St. Gallen', 'Ge':'Genève', 
                'Gl':'Glarus', 'Ju':'Jura', 'Zg':'Zug', 'Ow':'Obwalden', 'Fr':'Fribourg', 'Sz':'Schwyz', 
                'Ar':'Appenzell', 'Ai':'Appenzell', 'Nw':'Nidwalden', 'Bs':'Basel'})

In [357]:
df_ch.head()

,kingdom,phylum,class,order,family,genus,species,taxonRank,scientificName,verbatimScientificName,countryCode,stateProvince,occurrenceStatus,publishingOrgKey,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,elevation,day,month,year,basisOfRecord
0,Animalia,Arthropoda,Arachnida,Araneae,Linyphiidae,Diplocephalus,Diplocephalus latifrons,SPECIES,"Diplocephalus latifrons (O.Pickard-Cambridge, ...","Diplocephalus latifrons (O. P.-Cambridge, 1863)",CH,Jura,PRESENT,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37776,7.07449,3535.0,505.0,7.0,10.0,1988,HUMAN_OBSERVATION
1,Animalia,Arthropoda,Arachnida,Araneae,Dysderidae,Harpactea,Harpactea lepida,SPECIES,"Harpactea lepida (C.L.Koch, 1838)","Harpactea lepida (C. L. Koch, 1838)",CH,Jura,PRESENT,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37753,7.00828,3535.0,470.0,25.0,6.0,1988,HUMAN_OBSERVATION
2,Animalia,Arthropoda,Arachnida,Araneae,Theridiidae,Robertus,Robertus lividus,SPECIES,"Robertus lividus (Blackwall, 1836)","Robertus lividus (Blackwall, 1836)",CH,Jura,PRESENT,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37776,7.07449,3535.0,505.0,16.0,7.0,1988,HUMAN_OBSERVATION
3,Animalia,Arthropoda,Arachnida,Araneae,Lycosidae,Pardosa,Pardosa amentata,SPECIES,"Pardosa amentata (Clerck, 1757)","Pardosa amentata (Clerck, 1757)",CH,Jura,PRESENT,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37776,7.07449,3535.0,505.0,13.0,5.0,1988,HUMAN_OBSERVATION
4,Animalia,Arthropoda,Arachnida,Araneae,Linyphiidae,Neriene,Neriene clathrata,SPECIES,"Neriene clathrata (Sundevall, 1830)","Neriene clathrata (Sundevall, 1830)",CH,Jura,PRESENT,64ee55c9-570a-42af-b7da-3f13c6b4e5a9,47.37776,7.07449,3535.0,505.0,25.0,6.0,1988,HUMAN_OBSERVATION

# Temprature data

In [358]:
dir_list = os.listdir('dataset\\temp_data')
print(dir_list)

['ALTDORF.txt', 'ANDERMATT.txt', 'Bad Ragaz.txt', 'BASEL_BEINNINGEN.txt', 'BERN_ZOLLIKOFEN.txt', 'Chaumont.txt', "Château-d'Oex.txt", 'Col du Grand St-Bernard.txt', 'Davos.txt', 'Elm.txt', 'Engelberg.txt', 'Genève Cointrin.txt', 'Grimsel Hospiz.txt', 'Grächen.txt', 'Jungfraujoch.txt', 'La Chaux-de-Fonds.txt', 'Locarno Monti.txt', 'Lugano.txt', 'Luzern.txt', 'Meiringen.txt', 'Neuchâtel.txt', 'Payerne.txt', 'S. Bernardino.txt', 'Samedan.txt', 'Sargans.txt', 'Segl-Maria.txt', 'Sion.txt', 'St. Gallen.txt', 'Säntis.txt', 'Zürich  Fluntern.txt']

1. 'BASEL_BEINNINGEN.txt' -  'Basel' / 'Solothurn'
2. 'BERN_ZOLLIKOFEN.txt' - 'Bern'
3. 'Genève Cointrin.txt' - 'Genève'
4. 'Lugano.txt' - 'Ticino'
5. 'Luzern.txt' - 'Luzern'
6. 'Neuchâtel.txt' -  'Neuchâtel'
7. 'St. Gallen.txt' - 'St. Gallen' / 'Thurgau'
8. 'Zürich  Fluntern.txt' - 'Zürich' / 'Aargau' /  'Zug'/ 'Schaffhausen'
9. 'ALTDORF.txt' - 'Uri'
10. "Château-d'Oex.txt" - 'Vaud'
11. 'Col du Grand St-Bernard.txt' - 'Valais'
12. 'Davos.txt' - 'Graubünden'
13. 'Elm.txt' - 'Glarus' /'Schwyz'
14. 'Engelberg.txt' - 'Obwalden' / 'Nidwalden'
15. 'Payerne.txt' - 'Vaud'
16. 'Säntis.txt' - 'Appenzell'
17. 'Chaumont.txt' - 'Fribourg'
18. 'La Chaux-de-Fonds.txt' - 'Jura'

In [359]:
df_temp4 = pd.read_fwf('dataset\\temp_data\\Lugano.txt', encoding='cp1252', skiprows=25)
df_temp4['stateProvince'] = 'Ticino'

In [360]:
df_temp5 = pd.read_fwf('dataset\\temp_data\\Luzern.txt', encoding='cp1252', skiprows=25)
df_temp5['stateProvince'] = 'Luzern'

In [361]:
df_temp6 = pd.read_fwf('dataset\\temp_data\\Neuchâtel.txt', encoding='cp1252', skiprows=25)
df_temp6['stateProvince'] = 'Neuchâtel'

In [362]:
df_temp7 = pd.read_fwf('dataset\\temp_data\\St. Gallen.txt', encoding='cp1252', skiprows=25)[23:].reset_index(drop=True)
df_temp7['stateProvince'] = 'St. Gallen'

In [363]:
df_temp8 = pd.read_fwf('dataset\\temp_data\\Zürich  Fluntern.txt', encoding='cp1252', skiprows=25)
df_temp8['stateProvince'] = 'Zürich'

In [364]:
df_temp9 = pd.read_fwf('dataset\\temp_data\\ALTDORF.txt', encoding='cp1252', skiprows=25)
df_temp9['stateProvince'] = 'Uri'

In [365]:
df_temp10 = pd.read_fwf("dataset\\temp_data\\Château-d'Oex.txt", encoding='cp1252', skiprows=25)
df_temp10['stateProvince'] = 'Vaud'

In [366]:
df_temp11 = pd.read_fwf('dataset\\temp_data\\Col du Grand St-Bernard.txt', encoding='cp1252', skiprows=25)
df_temp11['stateProvince'] = 'Valais'

In [367]:
df_temp12 = pd.read_fwf('dataset\\temp_data\\Davos.txt', encoding='cp1252', skiprows=25)[40:].reset_index(drop=True)
df_temp12['stateProvince'] = 'Graubünden'

In [368]:
df_temp13 = pd.read_fwf('dataset\\temp_data\\Elm.txt', encoding='cp1252', skiprows=25)
df_temp13['stateProvince'] = 'Glarus'

In [369]:
df_temp14 = pd.read_fwf('dataset\\temp_data\\Engelberg.txt', encoding='cp1252', skiprows=25)
df_temp14['stateProvince'] = 'Obwalden'

In [370]:
df_temp15 = pd.read_fwf('dataset\\temp_data\\Payerne.txt', encoding='cp1252', skiprows=25)
df_temp15['stateProvince'] = 'Vaud'

In [371]:
df_temp16 = pd.read_fwf('dataset\\temp_data\\Säntis.txt', encoding='cp1252', skiprows=25)[224:].reset_index(drop=True)
df_temp16['stateProvince'] = 'Appenzell'

In [372]:
df_temp17 = pd.read_fwf('dataset\\temp_data\\Chaumont.txt', encoding='cp1252', skiprows=25)
df_temp17['stateProvince'] = 'Fribourg'

In [373]:
df_temp18 = pd.read_fwf('dataset\\temp_data\\La Chaux-de-Fonds.txt', encoding='cp1252', skiprows=25)
df_temp18['stateProvince'] ='Jura'

In [374]:
df_temp1 = pd.read_fwf('dataset\\temp_data\\BASEL_BEINNINGEN.txt', encoding='cp1252', skiprows=25)
df_temp1['stateProvince'] = 'Basel'

In [375]:
df_temp2 = pd.read_fwf('dataset\\temp_data\\BERN_ZOLLIKOFEN.txt', encoding='cp1252', skiprows=25)
df_temp2['stateProvince'] = 'Bern'

In [376]:
df_temp3 = pd.read_fwf('dataset\\temp_data\\Genève Cointrin.txt', encoding='cp1252', skiprows=25)
df_temp3['stateProvince'] = 'Genève'

In [377]:
df_ch.columns

Index(['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species',
       'taxonRank', 'scientificName', 'verbatimScientificName', 'countryCode',
       'stateProvince', 'occurrenceStatus', 'publishingOrgKey',
       'decimalLatitude', 'decimalLongitude', 'coordinateUncertaintyInMeters',
       'elevation', 'day', 'month', 'year', 'basisOfRecord'],
      dtype='object')

In [378]:
df_temp1.columns

Index(['Year', 'Month', 'Temperature', 'Precipitation', 'stateProvince'], dtype='object')

In [379]:
df_ch = df_ch.rename(columns={'month': 'Month', 'year': 'Year'})

In [380]:
df_temp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1912 entries, 0 to 1911
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1912 non-null   int64
 1   Month          1912 non-null   int64
 2   Temperature    1912 non-null   float64
 3   Precipitation  1912 non-null   float64
 4   stateProvince  1912 non-null   object
dtypes: float64(2), int64(2), object(1)
memory usage: 74.8+ KB

In [381]:
df_ch.Month.unique()

array([10.,  6.,  7.,  5.,  8.,  9.,  4., 11.,  3., 12.,  1.,  2.])

In [382]:
df_temp1.Month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [387]:
weather_datasets = {
    'Basel': df_temp1,
    'Solothurn': df_temp1,
    'Bern': df_temp2,
    'Genève': df_temp3,
    'Ticino': df_temp4,
    'Luzern':df_temp5,
    'Neuchâtel': df_temp6,
    'St. Gallen': df_temp7, 'Thurgau': df_temp7,
    'Zürich': df_temp8, 'Aargau': df_temp8, 'Zug': df_temp8, 'Schaffhausen': df_temp8,
    'Uri': df_temp9,
    'Vaud': df_temp10,
    'Valais': df_temp11,
    'Graubünden': df_temp12,
    'Glarus': df_temp13, 'Schwyz': df_temp13,
    'Obwalden': df_temp14, 'Nidwalden': df_temp14,
    'Vaud': df_temp15,
    'Appenzell': df_temp16,
    'Fribourg': df_temp17,
    'Jura': df_temp18
} 

df_final = pd.DataFrame(columns=['kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species',
       'taxonRank', 'scientificName', 'verbatimScientificName', 'countryCode',
       'stateProvince', 'occurrenceStatus', 'publishingOrgKey',
       'decimalLatitude', 'decimalLongitude', 'coordinateUncertaintyInMeters',
       'elevation', 'day', 'Month', 'Year', 'basisOfRecord', 'Temperature',
       'Precipitation'])

for location, weather_data in weather_datasets.items():
    weather_data['Month'] = weather_data['Month'].astype(float)
    df_merged = pd.merge(df_ch[df_ch['stateProvince'] == location], weather_data[['Year', 'Month', 'Temperature', 'Precipitation']], on=['Month', 'Year'], how='left')
    df_final = pd.concat([df_final,df_merged], ignore_index=True)

df_final = df_final.dropna()
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114036 entries, 0 to 114053
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   kingdom                        114036 non-null  object
 1   phylum                         114036 non-null  object
 2   class                          114036 non-null  object
 3   order                          114036 non-null  object
 4   family                         114036 non-null  object
 5   genus                          114036 non-null  object
 6   species                        114036 non-null  object
 7   taxonRank                      114036 non-null  object
 8   scientificName                 114036 non-null  object
 9   verbatimScientificName         114036 non-null  object
 10  countryCode                    114036 non-null  object
 11  stateProvince                  114036 non-null  object
 12  occurrenceStatus               114036 non-null  object
 13  publishingOrgKey               114036 non-null  object
 14  decimalLatitude                114036 non-null  float64
 15  decimalLongitude               114036 non-null  float64
 16  coordinateUncertaintyInMeters  114036 non-null  float64
 17  elevation                      114036 non-null  float64
 18  day                            114036 non-null  float64
 19  Month                          114036 non-null  float64
 20  Year                           114036 non-null  object
 21  basisOfRecord                  114036 non-null  object
 22  Temperature                    114036 non-null  float64
 23  Precipitation                  114036 non-null  float64
dtypes: float64(8), object(16)
memory usage: 21.8+ MB

In [388]:
df_final.to_csv('dataset\\temp_data\\final_dataset.csv')